doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js")
    script(src="javascripts/app.js")
    script(src="javascripts/interceptors.js")
    script(src="javascripts/controllers.js")
    body
    block content